@font-face {
    font-family: 'fontb54724f54d4dd3f6796e3c4cc422f998';
        
        src:    url('https://nomail.com.ua/files/eot/b54724f54d4dd3f6796e3c4cc422f998.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/b54724f54d4dd3f6796e3c4cc422f998.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/b54724f54d4dd3f6796e3c4cc422f998.woff2') format('woff2');
    }
    
    @font-face { font-family: 'Gotham-Book';  src: local('Gotham-Book'), url('https://nomail.com.ua/files/woff/b54724f54d4dd3f6796e3c4cc422f998.woff') format('woff'); }
    
    @font-face {
        font-family: 'font77171d8f5b5283f9d47a3434704bf944';
            
            src:    url('https://nomail.com.ua/files/eot/77171d8f5b5283f9d47a3434704bf944.eot?#iefix') format('embedded-opentype'),
                    url('https://nomail.com.ua/files/woff/77171d8f5b5283f9d47a3434704bf944.woff') format('woff'),
                    url('https://nomail.com.ua/files/woff2/77171d8f5b5283f9d47a3434704bf944.woff2') format('woff2');
        }
        
        @font-face { font-family: 'Gotham-Medium';  src: local('Gotham-Medium'), url('https://nomail.com.ua/files/woff/77171d8f5b5283f9d47a3434704bf944.woff') format('woff'); }

        @font-face {
            font-family: 'font602fe04567e65ec85b85adb48b24811d';
                
                src:    url('https://nomail.com.ua/files/eot/602fe04567e65ec85b85adb48b24811d.eot?#iefix') format('embedded-opentype'),
                        url('https://nomail.com.ua/files/woff/602fe04567e65ec85b85adb48b24811d.woff') format('woff'),
                        url('https://nomail.com.ua/files/woff2/602fe04567e65ec85b85adb48b24811d.woff2') format('woff2');
            }
            
            @font-face { font-family: 'Gotham-Bold';  src: local('Gotham-Bold'), url('https://nomail.com.ua/files/woff/602fe04567e65ec85b85adb48b24811d.woff') format('woff'); }
            