* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px; }

/*Ba-grid*/
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.ba-row--margin {
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 10px; }

[class^='ba-col'] {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%; }

.ba-col-4--padding {
  padding-left: 15px;
  padding-right: 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/*ba-cammon*/
.ba-text-center {
  text-align: center; }

.ba-text-right {
  text-align: right; }

.ba-text-left {
  text-align: left; }

.ba-text-justify {
  text-align: justify; }

html {
  overflow-x: hidden; }

.ba-header {
  position: absolute;
  width: 100%;
  padding-top: 53px;
  z-index: 1; }
  .ba-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ba-header__links {
    font-size: 0; }
  .ba-header__link, .ba-footer__link {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #ad99fc;
    border-radius: 50%;
    text-decoration: none;
    text-align: center; }
    .ba-header__link i, .ba-footer__link i {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .ba-header__link:hover > i, .ba-footer__link:hover > i {
      color: #eeab05; }
  .ba-header__link + .ba-header__link, .ba-footer__link + .ba-header__link, .ba-header__link + .ba-footer__link, .ba-footer__link + .ba-footer__link {
    margin-left: 20px; }

.fab {
  font-family: "FontAwesome";
  font-size: 1rem;
  font-style: normal;
  color: #fff; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .ba-menu__item::before {
    content: '';
    display: inline-block;
    height: 9px;
    width: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 14px; }
  .ba-menu__item:hover::before {
    background-color: #fff; }
  .ba-menu__item + .ba-menu__item {
    margin-left: 75px; }
  .ba-menu__link {
    font-family: 'Gotham-Book';
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.ba-hero {
  min-height: 800px;
  background-image: linear-gradient(to bottom left, #7e5bff, #55b7ff);
  position: relative; }
  .ba-hero__slide {
    min-height: 800px;
    background-image: url(../img/hero.png);
    display: flex !important;
    align-items: center;
    text-align: center;
    color: #fff; }
    .ba-hero__slide-title {
      font-family: 'Gotham-Bold';
      font-size: 5rem;
      letter-spacing: 0.25rem;
      line-height: 3.5rem;
      margin: 0 0 40px;
      text-transform: uppercase; }
    .ba-hero__slide-text {
      font-family: 'Gotham-Book';
      font-size: 1.125rem;
      line-height: 1.375rem;
      letter-spacing: 0.3375rem;
      text-transform: uppercase;
      margin: 0; }
  .ba-hero__btn {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    margin: 0 auto;
    padding: 0;
    outline: none; }
    .ba-hero__btn::before {
      content: '';
      display: inline-block;
      height: 4px;
      width: 4px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      position: relative;
      top: -2px;
      transform: rotate(45deg); }

.ba-projects {
  min-height: 1633px;
  text-align: center;
  padding-top: 145px; }
  .ba-projects__title {
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    text-transform: uppercase;
    color: #2c4058;
    line-height: 2rem;
    margin: 0 0 165px;
    position: relative; }
    .ba-projects__title::before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 100px;
      background-color: #2c4058;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -40px; }

.ba-project {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #2c4058; }
  .ba-project__title {
    font-family: 'Gotham-Bold';
    font-size: 2.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 15px 0 30px 0; }
    .ba-project__title-small {
      font-family: 'Gotham-Book';
      font-size: 1.375rem;
      line-height: 1.5rem;
      text-transform: uppercase; }
  .ba-project__picture {
    width: 54.3%;
    height: 470px;
    position: relative; }
    .ba-project__picture::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #55b7ff;
      position: absolute;
      right: 260px;
      top: -70px;
      z-index: -1; }
  .ba-project__img {
    width: 100%;
    max-height: 470px;
    object-fit: cover;
    object-position: 0 10%;
    background-color: #2c4058; }
  .ba-project__wrapper {
    text-align: left;
    width: 45.7%;
    padding-left: 70px; }
  .ba-project__wrapper--reverse {
    padding-left: 0;
    padding-right: 60px; }
  .ba-project__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 0; }
  .ba-project__btn {
    display: inline-block;
    font-family: 'Gotham-Book';
    font-size: 0.875rem;
    line-height: 50px;
    padding: 0 40px 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #2c4058;
    color: #2c4058;
    margin-top: 33px;
    margin-bottom: 55px; }
  .ba-project__address {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.125rem;
    display: block; }
    .ba-project__address::before {
      font-style: normal; }

.ba-project--reverse {
  flex-direction: row-reverse; }
  .ba-project--reverse .ba-project__picture::before {
    right: 0;
    left: 260px;
    background-color: #7e5aff; }

.ba-project + .ba-project {
  margin-top: 210px; }

.slick-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 50%;
  transform: translateY(50%);
  padding-right: 40px; }
  .slick-dots li {
    margin: 0; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-dots li {
  width: 11px;
  height: 11px;
  padding: 0; }

.slick-dots li {
  margin-bottom: 40px; }

.slick-dots li button:before {
  content: '';
  height: 9px;
  width: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1; }

#slick-slide-control00 {
  padding: 0;
  width: 0;
  height: 0; }

#slick-slide-control13 {
  padding: 0;
  width: 0;
  height: 0; }

#slick-slide-control11 {
  padding: 0;
  width: 0;
  height: 0; }

#slick-slide-control12 {
  padding: 0;
  width: 0;
  height: 0; }

.ba-section-news {
  min-height: 1035px;
  text-align: center;
  padding-top: 185px;
  background-image: url(../img/news_img.png), linear-gradient(to top right, #3c7fd4, #24ccfa);
  background-repeat: no-repeat;
  background-position-y: bottom; }
  .ba-section-news__title {
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 2rem;
    margin: 0 0 100px;
    position: relative; }
    .ba-section-news__title::before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 100px;
      background-color: #fff;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -40px; }

.ba-news__slide {
  font-size: 0;
  position: relative; }

.ba-news__img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  background-color: #2c4058; }
  .ba-news__img--position {
    object-position: 0 -75px; }

.ba-news__plus {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5; }

.ba-news__wrapper {
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  text-align: left; }

.ba-news__title {
  font-family: 'Gotham-Bold';
  font-size: 1.375rem;
  line-height: 2.125rem;
  text-transform: uppercase;
  color: #2c4058;
  margin: 0; }

.ba-news__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #4b5562; }

.ba-news-author {
  display: flex;
  align-items: center; }
  .ba-news-author__img {
    border-radius: 50%;
    background-color: #2c4058; }
  .ba-news-author__wrapper {
    font-family: 'Gotham-Book';
    margin-left: 20px; }
  .ba-news-author__name {
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #2c4058;
    display: block; }
  .ba-news-author__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #65bcff;
    display: block; }

.slick-dots--news {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  bottom: -65px;
  transform: none;
  margin: 0 auto;
  padding: 0; }
  .slick-dots--news li {
    margin-bottom: 0; }
  .slick-dots--news li + li {
    margin-left: 40px; }

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none; }

.slick-prev {
  left: -80px; }

.slick-next {
  right: -80px; }

.slick-prev:before, .slick-next:before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative; }

.slick-prev::before {
  transform: rotate(135deg);
  right: -1px; }

.slick-next::before {
  transform: rotate(-45deg);
  right: -1px; }

.ba-gallery {
  min-height: 1000px;
  padding-top: 180px;
  text-align: center; }
  .ba-gallery__title, .ba-footer-form__title {
    font-family: 'Gotham-Medium';
    font-size: 2.75rem;
    text-transform: uppercase;
    color: #2c4058;
    line-height: 2rem;
    margin: 0 0 100px;
    position: relative; }
    .ba-gallery__title::before, .ba-footer-form__title::before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 100px;
      background-color: #2c4058;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -40px; }
  .ba-gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: #2c4058; }
  .ba-gallery__picture {
    position: relative; }
  .ba-gallery__360 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 5; }
  .ba-gallery__btn {
    display: inline-block;
    font-family: 'Gotham-Book';
    font-size: 0.875rem;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #2c4058;
    color: #2c4058;
    text-align: center;
    padding: 0 56px 0 56px;
    margin-top: 60px;
    transition: .5s; }

#map {
  min-height: 700px; }

.gm-style-mtc > div,
.gmnoprint > div,
.gm-svpc {
  display: none; }

.ba-footer {
  min-height: 524px;
  background-image: url(../img/footer_img.png), linear-gradient(to bottom left, #7e5bff, #55b7ff);
  background-position-x: 100%;
  padding-top: 200px;
  position: relative; }
  .ba-footer-form {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 92px 60px 65px 60px;
    max-width: 780px;
    position: absolute;
    top: -300px; }
    .ba-footer-form__title {
      margin-bottom: 55px; }
    .ba-footer-form__wrapper {
      display: flex;
      justify-content: space-between; }
  .ba-footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ba-footer__wrapper {
    max-width: 780px;
    padding: 0; }
  .ba-footer__links {
    font-size: 0; }
  .ba-footer__rights {
    margin-top: 40px; }
    .ba-footer__rights span {
      font-family: 'Gotham-Book';
      font-size: 0.875rem;
      color: #fff; }
  .ba-footer__copyrights::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin: 0 16px 0 20px;
    position: relative;
    top: 6px;
    opacity: .5; }

.ba-form__info {
  font-family: 'Gotham-Book';
  width: 50%;
  text-align: left; }
  .ba-form__info span {
    display: block;
    font-size: 1.125rem;
    line-height: 2.125rem;
    color: #2c4058; }
  .ba-form__info span + span {
    margin-top: 23px; }

.ba-form__address::before, .ba-project__address::before, .ba-form__telefone::before,
.ba-form__mail::before, .ba-form__time::before {
  font-family: "FontAwesome";
  font-size: 1.05rem;
  margin-right: 10px;
  color: #7e5aff; }

.ba-form__address::before, .ba-project__address::before {
  content: "\f041"; }

.ba-form__telefone::before {
  content: "\f095"; }

.ba-form__mail::before {
  content: "\f01c"; }

.ba-form__time::before {
  content: "\f017"; }

.ba-form__data {
  width: 50%;
  padding-left: 15px; }

.ba-form__input {
  display: block;
  width: 100%;
  height: 55px;
  outline: none; }

#userEmail {
  margin-top: 3px;
  border: none;
  border-bottom: 1px solid #d5d9de; }

#userName {
  position: relative;
  top: -11px;
  border: none;
  border-bottom: 1px solid #2c4058; }

#userName::placeholder {
  color: #2c4058; }

.ba-form__input::placeholder {
  font-family: 'Gotham-Book';
  font-size: 1.125rem; }

.ba-form__submit {
  display: block;
  font-family: 'Gotham-Book';
  font-size: 0.875rem;
  line-height: 50px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #2c4058;
  margin-top: 30px;
  margin-left: auto;
  padding: 0 42px 0 42px; }

.fas {
  font-family: "FontAwesome";
  font-size: 0.875rem;
  font-style: normal;
  color: #fff; }
